.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  size: auto;
  justify-content: center;
  align-items: center;
}

.data {
  display: flex;
  flex-direction: row;
}

.Input {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  justify-content: center;
  align-items: center;
  height: 12vh;
  margin-bottom: 3vh;
  margin-top: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.InputComponents {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.radius {
  margin-left: 2vw;
  margin-right: 3vw;
}

.Restaurants {
  flex: 1;
  max-width: 40vw;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  height: 80vh;
  margin-bottom: 3vh;
  margin-right: 5vw;
  margin-left: 2vw;
}
.Map {
  flex: 1;
  background-color: lightpink;
  height: 80vh;
  margin-right: 2vw;
}

.Entry {
  display: flex;
  flex-direction: column;
  outline: grey solid 1px;
  padding-top: 1vh;
  justify-content: center;
  align-items: center;
}