.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  size: auto;
  justify-content: center;
  align-items: center;
}

.data {
  display: flex;
  flex-direction: row;
  height: 75vh;
}

/* .Input {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  justify-content: center;
  align-items: center;
  height: 12vh;
  margin-bottom: 3vh;
  margin-top: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
} */


.radius {
  margin-left: 2vw;
  margin-right: 3vw;
}

.Restaurants {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 30vw;
  justify-content: center;
  align-items: center;
  
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.cardsList {
  width: 25vw;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  height: 70vh;
  margin-right: 5vw;
  margin-left: 6vw;
  margin-bottom: 5vh;
}

.Map {
  display: flex;
  flex: 2;
  margin-right: 3vw;
  width: 45vw;
}

.Entry {
  display: flex;
  flex-direction: column;
  padding-top: 1vh;
  justify-content: center;
  align-items: center;
}

.navBar {
  margin-bottom: 5vh;
}

.sortLabel {
  margin-right: 1vw;
}